
 button{
    padding: 7px 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    
    font-size: 16px;
    color: rgb(12, 11, 77);
    border: 2px solid rgb(12, 11, 77);
    background-color:transparent;

}